* {
  direction: rtl;
  font-family: IRANsans;
}
.layout {
  min-height: 100vh !important;
}

.IRANsans{
  font-family: IRANsans;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 70vh;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background2 {
  background: #fff !important;
}



.loader {
  position: relative;
  width: 20%;
  height: 20%;
  left: 40%;
  margin-top: 200px;
}

/* Page 404 start*/
.align_404 {
  text-align: -webkit-center !important;
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/* Page 404 end */
.none-link{
  text-decoration: none !important;
}